<section>
  <mat-toolbar>
    <mat-toolbar-row>
      <div>
        <h1>Shop logo</h1>
      </div>
      <div>
        <a mat-button href="/"> Shop </a>
        <a mat-button href="/"> Plant care </a>
        <a mat-button href="/"> Workshops </a>
        <a mat-button href="/"> Blog </a>
      </div>
      <div>
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>shopping_cart</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon button with a account icon">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</section>
